//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *

//- The page layout is set using the Pug `extends` directive with a path to a layout template
//- All of the layout options are contained in src/pug/layouts
extends ../layouts/dashboard.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be set for each page
block config
    - var navPosition = 'nav-fixed'
    - var pageTitle = 'Account Settings - Billing'

//- * * * * * * * *
//- * * Topnav  * *
//- * * * * * * * *

//- Define the `block topnav` from the layout
block topnav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include mixins/topnav.pug
    +topnav({
        topnavStyle: 'navbar-light bg-white'
    })

//- * * * * * * * *
//- * * Sidenav * *
//- * * * * * * * *

//- Define the `block sidenav` from the layout
//- Note: The chosen page layout must have a `block sidenav` or no sidenav will appear
block sidenav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include mixins/sidenav.pug
    +sidenav({
        sidenavStyle: 'sidenav-light'
    })

//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

//- Define the main `block content` from the layout
block content

    //- Bring in the page header mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include mixins/headers/header-compact.pug
    +header({
        pageHeaderStyle: 'page-header-light border-bottom',
        pageHeaderBg: 'bg-white',
        pageHeaderSpacing: 'mb-4',
        pageHeaderContainer: 'container-fluid',
        pageIcon: 'user'
    })

    // Main page content
    .container.mt-4
        // Account page navigation
        nav.nav.nav-borders
            a.nav-link.ml-0(href='account-profile.html') Profile
            a.nav-link.active(href='account-billing.html') Billing
            a.nav-link(href='account-security.html') Security
            a.nav-link(href='account-notifications.html') Notifications
        hr.mt-0.mb-4
        .row
            .col-lg-4.mb-4
                // Billing card 1
                .card.h-100.border-left-lg.border-left-primary
                    .card-body
                        .small.text-muted Current monthly bill
                        .h3 $20.00
                        a.text-arrow-icon.small(href='#!')
                            | Switch to yearly billing
                            i(data-feather='arrow-right')
            .col-lg-4.mb-4
                // Billing card 2
                .card.h-100.border-left-lg.border-left-secondary
                    .card-body
                        .small.text-muted Next payment due
                        .h3 July 15
                        a.text-arrow-icon.small.text-secondary(href='#!')
                            | View payment history
                            i(data-feather='arrow-right')
            .col-lg-4.mb-4
                // Billing card 3
                .card.h-100.border-left-lg.border-left-success
                    .card-body
                        .small.text-muted Current plan
                        .h3.d-flex.align-items-center Freelancer
                        a.text-arrow-icon.small.text-success(href='#!')
                            | Upgrade plan
                            i(data-feather='arrow-right')
        // Payment methods card
        .card.card-header-actions.mb-4
            .card-header
                | Payment Methods
                button.btn.btn-sm.btn-primary(type='button') Add Payment Method
            .card-body
                // Payment method 1
                .d-flex.align-items-center.justify-content-between
                    .d-flex.align-items-center
                        i.fab.fa-cc-visa.fa-2x.cc-color-visa
                        .ml-4
                            .small Visa ending in 1234
                            .text-xs.text-muted Expires 04/2024
                    .ml-4.small
                        .badge.badge-light.mr-3 Default
                        a(href='#!') Edit
                hr
                // Payment method 2
                .d-flex.align-items-center.justify-content-between
                    .d-flex.align-items-center
                        i.fab.fa-cc-mastercard.fa-2x.cc-color-mastercard
                        .ml-4
                            .small Mastercard ending in 5678
                            .text-xs.text-muted Expires 05/2022
                    .ml-4.small
                        a.text-muted.mr-3(href='#!') Make Default
                        a(href='#!') Edit
                hr
                // Payment method 3
                .d-flex.align-items-center.justify-content-between
                    .d-flex.align-items-center
                        i.fab.fa-cc-amex.fa-2x.cc-color-amex
                        .ml-4
                            .small American Express ending in 9012
                            .text-xs.text-muted Expires 01/2026
                    .ml-4.small
                        a.text-muted.mr-3(href='#!') Make Default
                        a(href='#!') Edit
        // Billing history card
        .card.mb-4
            .card-header Billing History
            .card-body.p-0
                // Billing history table
                .table-responsive.table-billing-history
                    table.table.mb-0
                        thead
                            tr
                                th(scope='col') Transaction ID
                                th(scope='col') Date
                                th(scope='col') Amount
                                th(scope='col') Status
                        tbody
                            tr
                                td #39201
                                td 06/15/2020
                                td $29.99
                                td
                                    span.badge.badge-light Pending
                            tr
                                td #38594
                                td 05/15/2020
                                td $29.99
                                td
                                    span.badge.badge-success Paid
                            tr
                                td #38223
                                td 04/15/2020
                                td $29.99
                                td
                                    span.badge.badge-success Paid
                            tr
                                td #38125
                                td 03/15/2020
                                td $29.99
                                td
                                    span.badge.badge-success Paid

//- * * * * * * * *
//- * * Footer  * *
//- * * * * * * * *

//- Define the `block footer` from the layout
block footer

    //- Bring in the footer mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.co/sb-admin-pro/
    include mixins/footer.pug
    +footer({
        footerStyle: 'footer-light'
    })