//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *

//- The page layout is set using the Pug `extends` directive with a path to a layout template
//- All of the layout options are contained in src/pug/layouts
extends ../layouts/authentication.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be set for each page
block config
    - var pageTitle = 'Forgot Password'

//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

//- Define the main `block content` from the layout
block content
    .container
        .row.justify-content-center
            .col-xl-5.col-lg-6.col-md-8.col-sm-11
                // Social forgot password form
                .card.my-5
                    .card-body.p-5.text-center
                        .h3.font-weight-light.mb-0 Password Recovery
                    hr.my-0
                    .card-body.p-5
                        .text-center.small.text-muted.mb-4 Enter your email address below and we will send you a link to reset your password.
                        // Forgot password form
                        form
                            // Form Group (email address)
                            .form-group
                                label.text-gray-600.small(for='emailExample') Email address
                                input.form-control.form-control-solid.py-4(type='text', placeholder='', aria-label='Email Address', aria-describedby='emailExample')
                            // Form Group (reset password button)    
                            .form-group.mb-0
                                a.btn.btn-primary(href='auth-login-social.html') Reset Password
                    hr.my-0
                    .card-body.px-5.py-4
                        .small.text-center
                            | New user? 
                            a(href="auth-register-social.html") Create an account!

//- * * * * * * * *
//- * * Footer  * *
//- * * * * * * * *

//- Define the `block footer` from the layout
block footer

    //- Bring in the footer mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.co/sb-admin-pro/
    include mixins/footer.pug
    +footer({
        footerStyle: 'footer-dark'
    })