//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *

//- The page layout is set using the Pug `extends` directive with a path to a layout template
//- All of the layout options are contained in src/pug/layouts
extends ../layouts/authentication.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be set for each page
block config
    - var pageTitle = 'Forgot Password'

//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

//- Define the main `block content` from the layout
block content
    .container
        .row.justify-content-center
            .col-lg-5
                // Basic forgot password form
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header.justify-content-center
                        h3.font-weight-light.my-4 Password Recovery
                    .card-body
                        .small.mb-3.text-muted Enter your email address and we will send you a link to reset your password.
                        // Forgot password form
                        form
                            // Form Group (email address)
                            .form-group
                                label.small.mb-1(for='inputEmailAddress') Email
                                input#inputEmailAddress.form-control.py-4(type='email', aria-describedby='emailHelp', placeholder='Enter email address')
                            // Form Group (submit options)
                            .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                a.small(href='auth-login-basic.html') Return to login
                                a.btn.btn-primary(href='auth-login-basic.html') Reset Password
                    .card-footer.text-center
                        .small
                            a(href='auth-register-basic.html') Need an account? Sign up!

//- * * * * * * * *
//- * * Footer  * *
//- * * * * * * * *

//- Define the `block footer` from the layout
block footer

    //- Bring in the footer mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.co/sb-admin-pro/
    include mixins/footer.pug
    +footer({
        footerStyle: 'footer-dark'
    })