//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *

//- The page layout is set using the Pug `extends` directive with a path to a layout template
//- All of the layout options are contained in src/pug/layouts
extends ../layouts/dashboard.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be set for each page
block config
    - var navPosition = 'nav-fixed'
    - var pageTitle = 'Simplified Header'

//- * * * * * * * *
//- * * Topnav  * *
//- * * * * * * * *

//- Define the `block topnav` from the layout
block topnav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include mixins/topnav.pug
    +topnav({
        topnavStyle: 'navbar-light bg-white'
    })

//- * * * * * * * *
//- * * Sidenav * *
//- * * * * * * * *

//- Define the `block sidenav` from the layout
//- Note: The chosen page layout must have a `block sidenav` or no sidenav will appear
block sidenav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include mixins/sidenav.pug
    +sidenav({
        sidenavStyle: 'sidenav-light'
    })

//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

//- Define the main `block content` from the layout
block content

    //- Bring in the page header mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include mixins/headers/header-default.pug
    +header({
        pageHeaderStyle: 'page-header-dark',
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderSpacing: 'mb-4',
        pageHeaderContainer: 'container',
        pageSubtitle: 'A simplified page header for use with the dashboard layout',
        pageIcon: 'file',
        breadcrumbs: false
    })

    // Main page content
    .container
        .card
            .card-header Simplified Page Header Option
            .card-body.
                The simplified page header options allows you to remove the negative offset of the default page header. Just remove the negative margin from the <code>.page-header</code> element and add a top margin to the initial container within the <code>main</code> element. This will result in a simplified page header, that still includes the option for an icon and breadcrumbs.

//- * * * * * * * *
//- * * Footer  * *
//- * * * * * * * *

//- Define the `block footer` from the layout
block footer

    //- Bring in the footer mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.co/sb-admin-pro/
    include mixins/footer.pug
    +footer({
        footerStyle: 'footer-light'
    })