// Override Bootstrap code variables

$pre-color: $gray-600;

// Theme variables for code styling

$code-font-family: Roboto Mono, monospace;

// Theme variables for the <pre> element

$pre-bg: $gray-100;
$pre-line-height: 1.5rem;
$pre-margin-x: 0;
$pre-margin-y: 0.5rem;
$pre-padding-x: 1rem;
$pre-padding-y: 1.5rem;
