mixin footer(options)

    footer.footer.mt-auto(class=options.footerStyle)
        .container-fluid
            .row
                .col-md-6.small
                    | Copyright &copy; Your Website 2020
                .col-md-6.text-md-right.small
                    a(href='#!') Privacy Policy
                    | 
                    | &middot;
                    | 
                    a(href='#!') Terms &amp; Conditions
