.card-waves {
    .card-body {
        background-image: url("../assets/img/waves/wave.svg");
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center bottom;
    }
}
