doctype html

block config
    - var pageTitle = "Page Title"

html(lang='en')

    head

        include includes/head/meta.pug
        include includes/head/title.pug
        include includes/head/css.pug
        include includes/head/icons.pug

    body(class=navPosition)

        block topnav

        #layoutSidenav
            
            #layoutSidenav_nav

                block sidenav

            #layoutSidenav_content
                
                main

                    block content
                    
                block footer

        include includes/scripts.pug
