doctype html

block config
    - var pageTitle = "Page Title"

html(lang='en')

    head

        include includes/head/meta.pug
        include includes/head/title.pug
        include includes/head/css.pug
        include includes/head/icons.pug

    body.bg-white

        #layoutError
            
            #layoutError_content

                main
                    
                    block content

            #layoutError_footer
                    
                block footer

        include includes/scripts.pug
