.datatable.table-responsive
    table#dataTableActivity.table.table-bordered.table-hover(width='100%', cellspacing='0')
        thead
            tr
                th Date
                th Event
                th Time

        tfoot
            tr
                th Date
                th Event
                th Time

        tbody
            tr
                td 01/13/20
                td
                    i.mr-2.text-green(data-feather='zap')
                    | Server online
                td 1:21 AM
            tr
                td 01/13/20
                td
                    i.mr-2.text-red(data-feather='zap-off')
                    | Server restarted
                td 1:00 AM
            tr
                td 01/12/20
                td 
                    i.mr-2.text-purple(data-feather='shopping-cart')
                    | New order placed! Order #
                    a(href='javascript:void(0);') 1126550
                td 5:45 AM
            tr
                td 01/12/20
                td
                    i.mr-2.text-blue(data-feather='user')
                    | Valerie Luna submitted 
                    a(href='javascript:void(0);') quarter four report
                td 4:23 PM
            tr
                td 01/12/20
                td 
                    i.mr-2.text-yellow(data-feather='database')
                    | Database backup created
                td 3:51 AM
            tr
                td 01/12/20
                td 
                    i.mr-2.text-purple(data-feather='shopping-cart')
                    | New order placed! Order #
                    a(href='javascript:void(0);') 1126549
                td 1:22 AM
            tr
                td 01/11/20
                td 
                    i.mr-2.text-blue(data-feather='user-plus')
                    | New user created: 
                    a(href='javascript:void(0);') Sam Malone
                td 4:18 PM
            tr
                td 01/11/20
                td 
                    i.mr-2.text-purple(data-feather='shopping-cart')
                    | New order placed! Order #
                    a(href='javascript:void(0);') 1126548
                td 4:02 PM
            tr
                td 01/11/20
                td 
                    i.mr-2.text-purple(data-feather='shopping-cart')
                    | New order placed! Order #
                    a(href='javascript:void(0);') 1126547
                td 3:47 PM
            tr
                td 01/11/20
                td
                    i.mr-2.text-green(data-feather='zap')
                    | Server online
                td 1:19 AM
            tr
                td 01/11/20
                td
                    i.mr-2.text-red(data-feather='zap-off')
                    | Server restarted
                td 1:00 AM
            tr
                td 01/10/20
                td 
                    i.mr-2.text-purple(data-feather='shopping-cart')
                    | New order placed! Order #
                    a(href='javascript:void(0);') 1126547
                td 5:31 PM
            tr
                td 01/10/20
                td 
                    i.mr-2.text-purple(data-feather='shopping-cart')
                    | New order placed! Order #
                    a(href='javascript:void(0);') 1126546
                td 12:13 PM
            tr
                td 01/10/20
                td
                    i.mr-2.text-blue(data-feather='user')
                    | Diane Chambers submitted 
                    a(href='javascript:void(0);') quarter four report
                td 10:56 AM
