link(rel='icon', type='image/x-icon', href='assets/img/favicon.png')

script(data-search-pseudo-elements, defer, src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js', crossorigin="anonymous")

script(src='https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.27.0/feather.min.js', crossorigin='anonymous')
